<div>
  <div>
    <h1>Welcome admin : {{ userName }}</h1>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-start">
        <a class="nav-link px-2" [routerLink]="['']">Home</a>
        <a
          class="nav-link px-2"
          [routerLink]="['/admin-dashboard/clients']"
          routerLinkActive="active"
          >Clients</a
        >
        <a
          class="nav-link px-2"
          [routerLink]="['/admin-dashboard/credit-card-companies']"
          routerLinkActive="active"
          >Credit Card Companies</a
        >
        <a
          class="nav-link px-2"
          [routerLink]="['/admin-dashboard/institutions']"
          routerLinkActive="active"
          >Institutions</a
        >
        <a
          class="nav-link px-2"
          [routerLink]="['/login']"
          routerLinkActive="active"
          [queryParams]="{ page: 'admin' }"
          >Logout</a
        >
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
