<div>
  <div class="m-4" align="end">
    <label for="search">Search</label>
    <input mat-input type="text" class="m-4" [(ngModel)]="filter" />
    <button
      class="btn btn-primary"
      [routerLink]="['/admin-dashboard/add-new-client']"
    >
      Add new client
    </button>
  </div>
  <div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients | searchFilter : filter">
          <td>{{ client.id }}</td>
          <td>{{ client.firstName }}</td>
          <td>{{ client.phoneNumber }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.address }}</td>

          <td>
            <button
              type="button"
              class="btn btn-success mr-1"
              (click)="updateClient(client)"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteClient(client.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
