<div class="client-form">
  <mat-card>
    <form [formGroup]="athenticationForm" (ngSubmit)="onSubmit()">
      <div class="form-group my-3">
        <label for="accountName">Account number</label>
        <input
          type="text"
          class="form-control"
          formControlName="accountNumber"
          class="form-control"
        />
      </div>
      <div class="form-group my-3">
        <label for="exampleInputPassword1">Pin</label>
        <input
          class="form-control"
          formControlName="pin"
          placeholder="Password"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary cursor-pointer">
        Athentication
      </button>
    </form>
  </mat-card>
</div>
