<div class="main">
  <div class="card m-3 client-form">
    <div class="container">
      <button class="btn btn-secondary mt-4" (click)="goBack()">Back</button>
      <div class="row">
        <div class="col-xs-12">
          <form
            [formGroup]="makeDepositForm"
            class="p-4"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-group my-2">
              <label for="accountNumber" class="form-label"
                >Account number</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="accountNumber"
              />
            </div>
            <div class="form-group my-2">
              <label for="amount">Amount</label>
              <input
                type="text"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="form-group my-2">
              <label for="transactionPin">Transaction Pin</label>
              <input
                type="text"
                class="form-control"
                formControlName="transactionPin"
              />
            </div>
            <div>
              <button class="btn btn-primary">submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Response code</th>
        <th scope="col">Request Id</th>
        <th scope="col">Response Message</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ response?.responseCode }}</td>
        <td>{{ response?.requestId }}</td>
        <td>{{ response?.responseMessage }}</td>
      </tr>
    </tbody>
  </table>
</div>
