<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Welcome to banking application</span>
      <button mat-button [matMenuTriggerFor]="menu" class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a
            [routerLink]="['/login']"
            [queryParams]="{ page: 'admin' }"
            class="nav-link"
            >Admin</a
          >
        </button>
        <button mat-menu-item>
          <a
            [routerLink]="['/login']"
            [queryParams]="{ page: 'client' }"
            class="nav-link"
            >Client</a
          >
        </button>
        <button mat-menu-item>
          <a
            [routerLink]="['/login']"
            [queryParams]="{ page: 'credit-card' }"
            class="nav-link"
            >Credit card</a
          >
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet class="router-class"></router-outlet>
<app-footer></app-footer>
